body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: 20px;

}

#reviewArea{
    width: 100%;
    height: 50%;
    font-family: sans-serif;
    padding: 10px;
}

button{
    width: 20%;
    margin: 20px auto 20px auto;
    padding: 10px;

}

#root{
    width: 40%;
    margin: 0 auto;
}
