body{
    font-family: sans-serif;
}

h1{
    text-align: center;
}

#reviewArea{
    width: 100%;
    height: 50%;
}

button{
    width: 20%;
    margin: 0 auto; 
}

#root{
    width: 40%;
    margin: 0 auto;
}
